<app-tabs [pos]="pos" [tabs]="tabs"></app-tabs>
<app-order-search-form [searchOptions]="searchOptions"></app-order-search-form>
<button nz-button [nzType]="'primary'" style="margin: 5px 0 0 0;"><span>导出</span></button>
<nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10" [nzTotal]="data.length"
          [nzPageSizeSelectorValues] nzShowQuickJumper="true" nzShowTotal="true">
  <thead nz-thead>
  <tr>
    <th nz-th *ngFor="let th of ths"><span>{{th.lable}}</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i = index">
    <td nz-td>{{i+1}}</td>
    <td nz-td>{{data.orderNo}}</td>
    <td nz-td>{{data.userId}}</td>
    <td nz-td>{{data.userName}}</td>
    <td nz-td>{{data.tobaccoLicenseNO}}</td>
    <td nz-td>{{data.suppyName}}</td>
    <td nz-td>{{data.salesAmount}}</td>
    <td nz-td>{{data.amount}}</td>
    <td nz-td>{{data.createTime}}</td>
  </tr>
  </tbody>
</nz-table>
