<ul nz-menu [nzMode]="'inline'" [nzTheme]="theme?'dark':'light'">
  <li nz-menu-item [nzSelected]="true" [routerLink]="['']">
    <span title>Dashboard</span>
  </li>
  <li nz-submenu [nzOpen]="true">
    <span title><i class="anticon anticon-user"></i> 用户管理 </span>
    <ul>
      <li nz-submenu>
        <span [routerLink]="['/menu','7']" title>商户列表</span>
        <ul>
          <li nz-menu-item><a [routerLink]="['/menu','7']">Option 7</a></li>
          <li nz-menu-item><a [routerLink]="['/menu','8']">Option 8</a></li>
        </ul>
      </li>
      <li nz-menu-item>商户授信列表</li>
      <li nz-menu-item>供应商列表</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-bars"></i> 订单管理 </span>
    <ul>
      <li nz-menu-item><a [routerLink]="['menu/order']">订单列表</a></li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-bank"></i> 贷款管理 </span>
    <ul>
      <li nz-menu-item><a [routerLink]="['menu/credit-passed']">贷款列表-待审核</a></li>
      <li nz-menu-item><a [routerLink]="['menu/credit-audit']">贷款列表-已通过</a></li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-wallet"></i> 还贷管理 </span>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-check-square-o"></i> 账户对账 </span>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-area-chart"></i> 数据分析 </span>
    <ul>
      <li nz-menu-item>Option 9</li>
      <li nz-menu-item>Option 10</li>
      <li nz-menu-item>Option 11</li>
    </ul>
  </li>
</ul>
