<app-tabs [pos]="pos" [tabs]="tabs"></app-tabs>
<app-credit-search-form></app-credit-search-form>

<div class="table-operations" style="margin-bottom: 16px;">
  <div nz-row [nzType]="'flex'" [nzJustify]="'start'">
    <div nz-col [nzSpan]="10">
      <button nz-button [disabled]="_disabledButton" [nzLoading]="_operating" (click)="_export()">导出</button>
      <button nz-button [nzLoading]="_operating" (click)="_pass()">通过</button>
      <button nz-button [nzLoading]="_operating" (click)="_refuse()">拒绝</button>
      <span style="margin-left: 8px;">共 {{_checkedNumber}} 元待审核</span>
    </div>
    <div nz-col [nzSpan]="8">
      <span style="margin-left: 8px;">当前可放款额度 {{_checkedNumber}} 元 <a>更新</a></span>
      <br>
      <span>&emsp;&emsp;2018-01-01 12:11:11</span>
    </div>
    <div nz-col [nzSpan]="6">
      <label><span style="margin-left: 8px;">&emsp;排序规则:</span></label>
      <nz-select style="min-width: 100px;" [(ngModel)]="_orderRule" [nzPlaceHolder]="'请选择'">
        <nz-option *ngFor="let option of _orderRules"
                   [nzLabel]="option.label"
                   [nzValue]="option.value">
        </nz-option>
      </nz-select>
      <nz-radio-group [(ngModel)]="_radioValue">
        <label nz-radio-button [nzValue]="'desc'">
          <span>降序</span>
        </label>
        <label nz-radio-button [nzValue]="'asc'">
          <span>升序</span>
        </label>
      </nz-radio-group>
    </div>
  </div>
  <div nz-row [nzType]="'flex'" [nzJustify]="'start'">
    <span style="margin-left: 8px;">已勾选 {{_allCheckedNumber}} 条记录</span>
    <span style="margin-left: 8px;"><a (click)="_checkAllOperation($event)">{{_allCheckText}}</a></span>
    <span style="margin-left: 8px;">共勾选 {{_allCheckedAmount}} 元 </span>
  </div>
</div>

<nz-table #nzTable [nzDataSource]="_dataSet" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)"
          (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()"
          [nzShowTotal]="true" [nzShowQuickJumper]="true" [nzPageSizeSelectorValues]="[10, 20, 30, 40, 50]"
          style="word-break: keep-all;white-space:nowrap; overflow:scroll;"
          [nzScroll]="{ x: 'auto', y: 'auto' }">
  <thead nz-thead>
  <tr>
    <th nz-th nzCheckbox>
      <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate"
             (ngModelChange)="_checkAll($event)">
      </label>
    </th>
    <th nz-th *ngFor="let th of ths"><span>{{th.lable}}</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td nzCheckbox>
      <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
      </label>
    </td>
    <td nz-td *ngFor="let th of ths">{{data.name}}</td>
  </tr>
  </tbody>
</nz-table>
